html {
    height: 100%;
    width: 100%;
    font-family:
   'Josefin Sans', sans-serif;
     scroll-behavior: smooth;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-size:  15pt;
    
    cursor: url('sprout.png'), default;
  
  }
  
  /*NAVIGATION BAR*/
  .nav{
    position:sticky;
    background-color: #78B45E;
    text-align: right;
    color: white;
    padding: 2.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style-type: none;
    font-size: 25px;
  }
  
  /*positions Nav Bar links into a horizontal line*/
  .nav li{
    display:inline;
  }
  
  /*Formatting for Nav Bar links*/
  .nav .navLinks a:link{
    color:white;
    margin: 20px;
    padding: 0px;
    text-decoration: none;
    border-bottom: 5px solid #78B45E;
    transition: width 2s;
  }
  
  /*formats Nav Bar links after visited*/
  .nav .navLinks a:visited{
    color:white;
    border-bottom: 5px solid #78B45E;
  }
  
  /*formats Nav Bar links on hover*/
  .nav .navLinks a:hover{
    border-color: #FFDE59;
    padding: 4px 0px;
    color: #FFDE59;
  }
  
  /*positions logo to top-left*/
  #logo{
    float:left;
    position:absolute;
    top:50%;
    left:0%;
    transform: translate(0%,-50%);
    padding-left:1.5%;
    width: 80px;
    height: auto;
  }
  
  
  
  body {
    cursor: crosshair;
  }
  
  /*END OF NAVIGATION BAR*/
  
  /* firstHeading formatting*/
  #evText{
    display: block;
    width:600px;
    height:auto;
    padding: 0px;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .firstHeading {
    padding: 80px;
    border-radius: 10px;
    background-color: #FFDE59;
    margin: 30px 180px;
    font-size: 25px;
    display: flex;
    align-items: center;
  }
  
 
  
  
  
  /* meet the team - Anna*/
  .mishead{
  color:#aa7942;
    
  }
  
  .mishead {
    color:#78B45E;
  }
  
  .auhead {
    text-align: center;
    color: #aa7942;
  }

  /*GAME*/
  #canvas1 {
    height: 700px;
    width: 800px;
    border: 3px solid black;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #playerImage, #backgroundImage, #truck {
    display: none;
  }

  #play_button {
    background-color: #78B45E;
    color: black;
    padding: 30px;
    margin-left: 60px;
    margin-right: 40px;
    text-align: center;
    display: flex;

}
.pollutionImg{
    display: flex;
    align-items: center;
    text-align: center;

}
#pollution{
    height: 60vh;
    width: auto;
    margin-left: 50vh;
}
.gameCaption{
    color: black;
    background-color: #78B45E;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 40px;
    padding-bottom: 0px;  
    font-size: 16px;
  }